

/*Navbar*/

#nav{
    background-color: #7F8487;
}


/*Body*/
body{
   background-color:#E4DCCF;
}

/*Top-Head*/
.Top-head{
    color: #576F72;
    padding-top: 7%;
    padding-left: 1%;
    width: 100%;
    display: inline-block;
    text-align: center;
}

/*Job Search*/

.jobSearch{
    text-align: center;
    margin: 1.5rem;
}


/*Container*/
.row{
    padding-left: 100px;
}

 .row::after {
    content: none;
    clear: both;
    display: table;
  } 

.A{
    border: solid #7F8487;
    border-radius: thin;
    padding: 1rem;
    margin: 1rem;
}

#TOC{
    color: #7F8487;
}

#TOC-str{
    float: right;
    margin-left: 2rem;
}

/*btm-btn*/
.log{
    padding-left: 12rem;
    display: inline-block;
}
.hire{
    float: right;
    margin-right: 12.5rem;
}

/*Footer*/
.foot{
    padding: 4%;
    text-align: center;
    background-color: #7F8487;

}
.rights{
    padding: 1%;
}
.navigation ul li{
    margin: 20px;
    color: white;
    font-family: Roman;
  }.boxes{
    border: 5px solid white;
    width: 1000px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;   
    justify-content: flex-end; 
    box-shadow: 0 0 10px silver;
    transition: 300ms all;
    background-size: cover;
    background-position: center;
    background-color: #7F8487; 
  }
  .box-content{
    background-color: white;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    transition: 300ms all;
  }
  .boxes:hover {
    transform: scale(1.1);
  }
  .boxes:hover .box-content{
    background-color: transparent;
    color: white;
  }