
/*Navbar*/
#nav{
  background-color: #7F8487;
}

#back{
  color: #fff;
}

.nav{
  margin-left: 8px;
}

/*Body*/

body{
  background-image: linear-gradient(to bottom, #E4DCCF, rgba(198, 222, 241, 0.5));
  background-repeat: no-repeat;
  background-attachment: fixed;  
  
  background-size: 100% 100%;
  background-blend-mode: normal;
}
/*Top-head*/

.head{
  padding-top: 3%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}



/*Vacancy-form*/
#vacancy-form{
  padding-left: 3px;
}

#vacancy{
  font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 3%;
}

p{
  margin-left: 28%;
}

input{
  width: 60%;
}

input[type="radio"]{
  width: 20px;
}



#condition{
margin-left: 26%;
}

#terms{
    display: inline-block;
    width: 5%;
    margin-left: 26%;
  }

  #tNc{
margin-left: 32%;
  }

/* .social{
  
    border: 1px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

} */

#submit{
  margin-left: 27% ;
}



/*Terms*/
#terms{
  display: inline-block;
  width: 5%;
}


/*Footer*/
.foot{
  margin-top: 15%;
  padding: 4%;
  text-align: center;
  background-color: #7F8487;

}
.rights{
  padding: 1%;
}
.navigation ul li{
  margin: 20px;
  color: white;
  font-family: Roman;
}.boxes{
  border: 5px solid white;
  width: 1000px;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;   
  justify-content: flex-end; 
  box-shadow: 0 0 10px silver;
  transition: 300ms all;
  background-size: cover;
  background-position: center;
  background-color: #7F8487; 
}
.box-content{
  background-color: white;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  transition: 300ms all;
}
.boxes:hover {
  transform: scale(1.1);
}
.boxes:hover .box-content{
  background-color: transparent;
  color: white;
}
